<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Form test</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<form action="#" th:action="@{/form}" th:object="${personForm}" method="post">
    <table>
        <tr>
            <td>Name:</td>
            <td>
                <input type="text" th:field="*{name}" name="username" id="username" class="form-control input-lg"
                       placeholder="UserName (2-30 symbols)" required="true" autofocus="true"/></td>
            <td th:if="${#fields.hasErrors('name')}" >Name Error</td>
<!--            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>-->
        </tr>
        <tr>
            <td>Age:</td>
            <td><input type="text" th:field="*{age}" /></td>
            <td th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</td>
        </tr>
        <tr>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>
</form>

<div th:replace="fragments/footer :: footer"/>
</body>
</html>