<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Registration page </title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form action="#" th:action="@{/register}" th:object="${user}" method="post">
                <fieldset>
                    <h1 th:text="#{title.signUp}">Please Sign Up</h1>

                    <div th:if="${param.error}">
                        <div class="alert alert-danger">
                            Invalid username and password.
                        </div>
                    </div>
                    <div th:if="${param.logout}">
                        <div class="alert alert-info">
                            You have been logged out.
                        </div>
                    </div>
                    <div th:if="${usernameError}">
                        <div class="alert alert-danger" th:text="${usernameError}">
                            error message
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="text" th:field="*{firstName}" name="firstName" id="firstName" class="form-control input-lg"
                               th:placeholder="#{label.user.firstName}" required="true" autofocus="true"/>
                        <p th:each="error: ${#fields.errors('firstName')}"
                           th:text="${error}">Validation error</p>
<!--                        <p th:if="${#fields.hasErrors('firstName')}" >Name Error</p>-->
                    </div>
                    <div class="form-group">
                        <input type="text" th:field="*{lastName}" name="lastName" id="lastName" class="form-control input-lg"
                               th:placeholder="#{label.user.lastName}" required="true" autofocus="true"/>
                        <p th:each="error : ${#fields.errors('lastName')}"
                           th:text="${error}">Validation error</p>
<!--                        <p th:if="${#fields.hasErrors('lastName')}" >Name Error</p>-->
                    </div>
                    <div class="form-group">
                        <input type="text" th:field="*{email}" name="email" id="email" class="form-control input-lg"
                               th:placeholder="#{label.user.email}" required="true" autofocus="true"/>
                        <p th:each="error : ${#fields.errors('email')}"
                           th:text="${error}">Validation error</p>
<!--                        <p th:if="${#fields.hasErrors('email')}" >Name Error</p>-->
                    </div>
                    <div class="form-group">
                        <input type="password" th:field="*{password}" name="password" id="password" class="form-control input-lg"
                               th:placeholder="#{label.user.password}" required="true"/>
                        <p th:each="error : ${#fields.errors('password')}"
                           th:text="${error}">Validation error</p>
<!--                        <p th:if="${#fields.hasErrors('password')}" >Name Error</p>-->
                    </div>
                    <div class="form-group">
                        <input type="password" th:field="*{matchingPassword}" name="confirmPassword" id="confirmPassword" class="form-control input-lg"
                               th:placeholder="#{label.user.confirmPass}" required="true"/>
                        <p th:each="error : ${#fields.errors('matchingPassword')}"
                           th:text="${error}">Validation error</p>
<!--                        <p th:if="${#fields.hasErrors('password')}" >Name Error</p>-->
                    </div>

                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <input type="submit" class="btn btn-lg btn-primary btn-block" th:value="#{buttons.signUp}"/>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>